[submodule "CMTAT-equivalency-assessment"]
	path = CMTAT-equivalency-assessment
	url = https://github.com/CMTA/CMTAT-equivalency-assessment.git
[submodule "CMTAT"]
	path = CMTAT
	url = https://github.com/CMTA/CMTAT
[submodule "CMTAT-Confidential"]
	path = CMTAT-Confidential
	url = https://github.com/CMTA/CMTAT-Confidential
